<html lang='es'>
    <body style='width: 100vw; padding: 1rem'>
        <div>
            <div>
                <h5>Hello {{user}}</h5>
                <p>A request has been received to change the password for your
                    InvoiceTracker account</p>
                <a style='text-align:center;' href='{{link}}'>Reset Password</a>
            </div>
            <div style='margin-top: 1rem'>
                If did not request a password reset, you can safely ignore this
                email
            </div>
        </div>
        <script></script>
    </body>
</html>